* {
    margin: 0px;
    padding: 0px;
    caret-color: transparent;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    overflow-y: hidden;
}

.container {
    position: relative;
}

header {
    margin: 0.8rem 0rem;
}

header h1 {
    text-align: center;
}

header h1 span {
    color: red;
}

#prev,
#next {
    color: green;
    z-index: 100;
    font-size: 1.6rem;
    cursor: pointer;
    padding: 0.6rem 0.6rem;
    border: 1px solid white;
    border-radius: 50%;
}

#prev {
    position: absolute;
    left: 17%;
    top: 46%;
}

#next {
    position: absolute;
    right: 17%;
    top: 46%;
}

#prev:hover {
    background-color: white;
    position: absolute;
    left: 15%;
    transition: all 0.6s ease-in-out;
    margin-left: 0.8rem;
}

#next:hover {
    background-color: white;
    position: absolute;
    right: 15%;
    transition: all 0.6s ease-in-out;
    margin-right: 0.8rem;
}

.slide {
    height: auto;
    width: 70%;
    margin: 3.5rem auto;
    position: relative;
    box-shadow: 0 0 0.8rem rgba(0, 0, 0, 1);
    transition: opacity 1s ease;
}

.active {
    transition: opacity 1s ease;
}

.SliderContent {
    position: absolute;
    top: 64%;
    left: 0;
    bottom: 0;
    color: white;
    padding: 0.8rem 0.8rem;
    text-align: justify;
    line-height: 1.3;
    background-color: rgba(0, 0, 0, 0.4);
    overflow: scroll;
}

.SliderContent::-webkit-scrollbar {
    display: none;
}


#ImageSlider {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 74vh;
}

/* Media Queries */

@media (max-width: 1300px) {
    .SliderContent {
        position: absolute;
        top: 72%;
        left: 0;
        bottom: 0;
        line-height: 1.1;
    }
}

@media (max-width: 768px) {

    #prev,
    #next {
        font-size: 1.2rem;
    }

    #prev {
        position: absolute;
        top: 42%;
    }

    #next {
        position: absolute;
        top: 42%;
    }

    header h1 {
        font-size: 2.6rem;
        margin: 1.8rem auto;
    }
}

@media (max-width: 430px) {

    #prev,
    #next {
        font-size: 0.8rem;
        padding: 0.4rem 0.4rem;
    }

    #prev {
        position: absolute;
        top: 42%;
    }

    #next {
        position: absolute;
        top: 42%;
    }

    header h1 {
        font-size: 1.8rem;
        margin: 1.8rem auto;
    }

    .slide h2 {
        font-size: 0.9rem;
        line-height: 1.8;
    }

    .slide p {
        font-size: 0.6rem;
    }
}